<div class="container">
  <div class="page-header">
    <h1>URLs</h1>
  </div>
  <p><a href="http://etc.minerpool.co">ETC Classic mining pool</a></p>
  <p><a href="http://eth.minerpool.co">Ethereum mining pool</a></p>
  <p><a href="http://dbix.minerpool.co">Dubaicoin mining pool</a></p>
</div>

